*.iml
NotificationCloudMessagingExample/.gradle
NotificationCloudMessagingExample/local.properties
NotificationCloudMessagingExample/.idea/workspace.xml
NotificationCloudMessagingExample/.idea/libraries
NotificationCloudMessagingExample/.DS_Store
NotificationCloudMessagingExample/build
NotificationCloudMessagingExample/captures
NotificationCloudMessagingExample/.externalNativeBuild
NotificationCloudMessagingExample/.idea/modules.xml
NotificationCloudMessagingExample/.idea/misc.xml

### IntelliJ IDEA ###
NotificationCloudMessagingExample/.idea
NotificationCloudMessagingExample/*.iws
NotificationCloudMessagingExample/*.iml
NotificationCloudMessagingExample/*.ipr

*.iml
app-pembayaran-android/app-pembayaran-android/.gradle
app-pembayaran-android/app-pembayaran-android/local.properties
app-pembayaran-android/app-pembayaran-android/.idea/workspace.xml
app-pembayaran-android/app-pembayaran-android/.idea/libraries
app-pembayaran-android/app-pembayaran-android/.DS_Store
app-pembayaran-android/app-pembayaran-android/build/*
app-pembayaran-android/app-pembayaran-android/captures
app-pembayaran-android/app-pembayaran-android/.externalNativeBuild
app-pembayaran-android/app-pembayaran-android/.idea/modules.xml
app-pembayaran-android/app-pembayaran-android/.idea/misc.xml

### App Server ###
.gradle
pembayaran-server/pembayaran-server/build/
!gradle/wrapper/gradle-wrapper.jar
pembayaran-server/pembayaran-server/.git


### STS ###
pembayaran-server/pembayaran-server/.apt_generated
pembayaran-server/pembayaran-server/.classpath
pembayaran-server/pembayaran-server/.factorypath
pembayaran-server/pembayaran-server/.project
pembayaran-server/pembayaran-server/.settings
pembayaran-server/pembayaran-server/.springBeans

### IntelliJ IDEA ###
pembayaran-server/pembayaran-server/.idea
pembayaran-server/pembayaran-server/*.iws
pembayaran-server/pembayaran-server/*.iml
pembayaran-server/pembayaran-server/*.ipr

### NetBeans ###
pembayaran-server/pembayaran-server/nbproject/private/
pembayaran-server/pembayaran-server/build/
pembayaran-server/pembayaran-server/nbbuild/
pembayaran-server/pembayaran-server/dist/
pembayaran-server/pembayaran-server/nbdist/
pembayaran-server/pembayaran-server/.nb-gradle/

